 body {
   height:100%;
}
html {
  margin-top:0 !important;
}
  *:not(#wpadminbar):not(.ab-item) {
    cursor: none;
  }
 //custom cursor
 #cursor {
   position: fixed;
   width: 10px;
   height: 10px;
   background-color: $primary;
   border-radius: 100%;
   pointer-events: none;
   z-index: 10000000000;
   transition: all 250ms linear, transform 10ms ease-out;
 }

 #stalker {
   position: fixed;
   margin-top: -15px;
   margin-right: -15px;
   width: 40px;
   height: 40px;
   background-color: #2f313718;
   border-radius: 100%;
   pointer-events: none;
   transition: transform ease-out 100ms;
   z-index: 999999999;
 }
 .cursorHover {
   background-color: transparent!important;
   border: 1px dashed $primary;
   width:20px !important;
   height:20px !important;
   margin-top:-5px;
   margin-right:-5px;
 }
//.page-transition {
//  opacity: 0;
//  background:$secondary;
//  transform: translateX(100%);
//  transition: opacity 1s ease-out, transform 1s ease-out;
//}
a , .no-decoration {
  text-decoration: none;
}
.overflow-scroll-y {
  overflow-y: scroll!important;
}
.ratio-1 {
  aspect-ratio:1
}
.top-75 {
  top:75%;
}
.top-25 {
  top:25%
}
.h-65 {
  height: 65% !important;
}
.vh-65 {
  height: 65vh !important;
}
.translate-x-100 {
  transform:translateX(100%);
}
.translate-y-100 {
  transform:translateY(100%);
}
.overflow-x-scroll{
  overflow-x: scroll!important;
}
.text-justify {
  text-align: justify;
}
.object-fit {
  object-fit: cover;
}
.z-10 {
  z-index: 10;
}
.z-2 {
  z-index: 2;
}
.z-n1 {
  z-index: 1;
}
.lazy {
  transition: all 0.3s ease-in-out;
}
// SCROLL bar styles
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: $white;
}

::-webkit-scrollbar-thumb {
  background: $primary;
}
*::selection {
  background: $primary;
  color:white!important;
}