// Base styles
.btn {
    display: inline-block;
    font-family: $font-family-base;
    color: $body-text;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    line-height:normal;
    vertical-align: middle;
    border: unset;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-border-radius);
    @include transition($btn-transition);
    outline: 0 !important;
    z-index: 1;
    position: relative;
    &:focus {
      box-shadow: unset;
    }
    &:disabled,
    &.disabled,
    fieldset:disabled & {
        pointer-events: none;
        opacity: $btn-disabled-opacity;
        @include box-shadow(none);
    }
}
.btn-custom {
  transition: all 0.4s linear;
  position: relative;
  &::before {
    z-index:-1;
    transition: all 0.4s linear;
    position: absolute;
    top:50%;
    left:50%;
    transform-origin: center;
    transform:translate(-50%, -50%);
    content: ' ';
    width: 30% ;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.29);
  }
  color:white;
  padding: 15px 30px;
  &:hover {
    padding: 15px 0 15px 50px;
    &::before {
      animation: rotateBtn 5s ease 400ms infinite forwards;
      height: 10px;
      width: 10px;
      left:30%;
      background-color: $primary;
    }
  }
}
@keyframes rotateBtn {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }

  50% {
    transform: translate(-50%, -50%) rotate(-90deg);
    background-color: white;
  }
  100% {
    transform: translate(-50%, -50%) rotate(-180deg);
  }
}

.btn-primary {
        color: $primary;
        border: 1px solid $primary;
        background-image: -webkit-linear-gradient(100deg, transparent 50%, $primary 50% );
        background-image: linear-gradient(100deg, transparent 50%, $primary 50%);
        background-size: 500px;
        background-repeat: no-repeat;
        background-position: 0%;
        -webkit-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
        .chervon-1{
          transition: all 300ms ease-in-out;
        }
        &:hover {
          .chervon-1 {
            stroke:white;
          }
            background-position: 100%;
            color: #fff;
    }
}
.btn-white {
        color: #fff;
        border: 1px solid $white;
        background-image: -webkit-linear-gradient(100deg, transparent 50%, $white 50%);
        background-image: linear-gradient(100deg, transparent 50%, $white 50%);
        background-size: 500px;
        background-repeat: no-repeat;
        background-position: 0%;
        -webkit-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
        &:hover {
            background-position: 100%;
            color: $primary;
    }
}
.btn-fixed {
  width: 45px;
  height: 45px;
  bottom: 15px;
  z-index: 9;
  line-height: 2.4;

  &:hover, &:focus {
    animation: pulse 0.6s;
    box-shadow: 0 0 0 1.5em transparent;
  }
}
.backTo_Top {
  left :15px;
}
//download button
.download-btn{
  margin:auto;
  position:relative;
  label {
    width:100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items:center;
  }
  .check{
    display:none;
  }
  .dl-btn{
    text-transform: uppercase;
    color: $primary;
    width: 200px;
    aspect-ratio: 1;
    border-radius: 3px;
    cursor: pointer;
    overflow: hidden;
    box-sizing: border-box;
    font-size:14px;
    transition: all .3s ease;
    display: flex;
    justify-content: center;
    align-items:center;
    .mo{
      position:relative;
      overflow:hidden;
      bottom: -150px;
      width:0px;
      height:0px;
      text-align:center;
      display: inline-block;
      opacity:0;
      color: #272727;
    }
    &:before{
      width:0%;
      position: absolute;
      right:0;
      bottom:3px;
      height: 5px;
      background-color: $primary;
      content: "";
    }
    &:after{
      width:100%;
      height:0%;
      position:absolute;
      bottom:3px;
      right:0;
      background-color: $primary;
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' fill='white' class='bi bi-arrow-down-circle' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z'/%3E%3C/svg%3E");
      color:$secondary;
      overflow:hidden;
      text-align:center;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &:hover{
      background-color: $primary;
      color: $secondary;
    }
  }
  input[type=checkbox]:checked ~ .dl-btn{
    background: #ddced9;
    border-radius: 0px;
    border: none;
    transition: all .5s cubic-bezier(0.68, -0.55, 0.27, 1.55);

    &:before{
      width:100%;
      content: "";
      color: #fff;
      text-align: center;
      line-height: 70px;
      transition: all 3.5s linear;
    }
    &:after{
      height:calc(100% - 3px);
      color:$secondary;
      transition: all .3s ease-in-out 3.5s;
    }
    .me{
      display:none;
    }
    .mo{
      transition:bottom .4s ease, opacity 1s ease 0.3s;
      height: auto;
      width:auto;
      bottom: 0px;
      opacity: 1;
    }
  }
}